* {
  box-sizing: border-box;
  margin-top: 0;
  font-family: 'DM Sans', sans-serif;
}
body {
  background-color: #2b2b2b;
}
.header {
  border: 10px solid black;
  margin: 0 auto;
  height: 490px;
  width: 75%;
  text-align: top right;
  border-top: 0;
}
.header img {
    width: 100%;
    height: 480px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.header-text { 
position: absolute;
width: 20%;
top: 2vh;
right: 15vw;
color: white;
text-shadow: 2px 2px #2b2b2b;
font-size: 1vw 1vh;
}
.header-text h1 {
  margin-bottom: 3px;
}
.heading {
  background-color: black;
  border: 10px solid black;
  color: darkgray;
  width: 75%;
  margin: 0px auto;
  border-bottom: 3px solid darkgray;
  height: 40px;
}
.about {
  background-color: black;
  color: darkgray;
  width: 75%;
  margin: 0 auto;
  border: 10px solid black;
  min-height: 520px;
}
.about img {
  float: right;
  margin-left: 5px;
}
#name {
  font-weight: bold;
  font-size: 20px;
}
p {
  font-size: 15px;
}
a {
  color: white;
  text-decoration: none;
}
